html {
    height: 100%; margin: 0; padding: 0;
}
body {
    min-height: 100%;
    display: flex; justify-content: center; flex-direction: column; align-items: center;
    background: linear-gradient(rgba(255,255,255,.4) 100%, rgba(255,255,255,.2)), url("https://www.zastavki.com/pictures/1440x900/2009/Nature_Clouds_Gray_clouds_013587_.jpg") no-repeat fixed center;
    background-size: cover;
    font-family: "Comic Sans MS", sans-serif;
    color: white; 
}
.location {
    text-align: center;
    display: flex; flex-direction: row;
}
.location .temperature {
    display: flex;  justify-content: center; align-items: center; flex-direction: column;
    margin: 0; padding: 0;
}
.location-timezone {
    text-align: center; display: flex; justify-content: center;
}
.timp {
    display: flex; justify-content: center; flex-direction: column; align-items: flex-end;
    margin: 0 auto; padding-right: 5%;
    font-size: 20px;
    position: relative; top: -15px;
}
.temperature-description {
    font-size: 20px; margin-top: 1%;
}
.location .informatii {
    display: flex;  justify-content: center; align-items: center;
    flex-direction: column;
}
.location-timezone, .temperature-degree, .temperaturi, .container .temperatura-zilei,
.container-fluid .forecast-temperaturi1, .container-fluid .forecast-temperaturi2,
.container-fluid .forecast-temperaturi3, .container-fluid .forecast-temperaturi4,
.container-fluid .forecast-temperaturi5, .container-fluid .forecast-temperaturi6 {
    color: rgb(47, 164, 231);
}
.degree-section {
    display: flex; align-items: center; flex-direction: column;
}
.degree-section span {
    margin: 10px;
    font-size: 30px;
}
.degree-section h2 {
    font-size: 40px;
}
.temperatura-zilei {
    display: flex;
}
.temperaturi {
    display: flex;
}
.container  {
    background-image: linear-gradient(45deg, #424242, #141414);
    border-radius: 20px; border: 2px solid ghostwhite;
    color: #eee;
    opacity: 0.75;
    padding: 0; margin: 0;
    width: 40vw; height: 50%;
}
.container .location {
    display: flex;
}
.container-fluid .row {
    display: flex; justify-content: space-around; align-items: center;
    border-radius: 10px;
    color: #eee;
    opacity: 0.75;
}
.summary {
    text-align: center; margin: 2% 0 1%;
    color: black; font-weight: 800;
}
.container {
    margin-top: 1%;
}
.forecast-daily1, .forecast-daily2, .forecast-daily3,
.forecast-daily4, .forecast-daily5, .forecast-daily6 {
    display: flex; align-items: center;  flex-direction: column;
    margin: 0; padding: 0;
}
.day1, .day2, .day4, .day3, .day5, .day6  {
    border: 2px solid ghostwhite; margin: 1%;
    background-image: linear-gradient(45deg, #424242, #141414);
    border-radius: 20px;
}

.forecast-minima1, .forecast-maxima1, .forecast-minima2, .forecast-maxima2,
.forecast-minima3, .forecast-maxima3, .forecast-minima4, .forecast-maxima4,
.forecast-minima5, .forecast-maxima5, .forecast-minima6, .forecast-maxima6 {
    display: inline;
}
.uv-index, .forecast-uv-index1, .forecast-uv-index2, .forecast-uv-index3,
.forecast-uv-index4, .forecast-uv-index5, .forecast-uv-index6 {
    color: black;
}
.fa-tint {
    color: #d4f1f9;
}
.fa-snowflake {
    color: #dbe2eb;
}

header {
    background-color: black;
    width: 100%; height: 60px;
    display: flex; justify-content: left; align-items: center;
}
header h2 {
    margin: 0; padding-left: 20%;
}
footer {
    background-color: black;
    width: 100%; height: 60px;
    text-align: center;
    display: flex; justify-content: center; align-items: center;
    opacity: .9;
}


/*Media queries*/

/* Extra small */
@media (max-width: 575.98px) {
    .container  {
        width: 90vw;
    }
    .location-timezone {
        font-size: 16px;
    }
    .timp {
        top: -5px;
    }
    .day1, .day2, .day4, .day3, .day5, .day6  {
        margin: 1% 10%;
    }
    .temperature-description {
        font-size: 16px;
    }
}

/* Small devices */
@media (max-width: 767.98px) {
    .container  {
        width: 75vw;
    }
    .timp {
        top: -5px;
    }

}

/* Medium devices */
@media (max-width: 991.98px) {
    .container  {
        width: 70vw;
    }
    .timp {
        top: -5px;
    }
}

/* Large */
@media (max-width: 1199.98px) {
    .container  {
        width: 60vw;
    }
    .timp {
        top: -5px;
    }
}
